# Build outputs
lib_client.so
libsteam_api.so
client
client_test
resources.rres
prep_models
resources/models/*.bin
settings.ini
shaders.ini
build/
.cache/
libs/rrespacker/*
!libs/rrespacker/Readme.txt
